body {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

form {
  margin: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.error {
  border: 1px solid red;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.success {
  color: green;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.2rem;
}
